@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Poppins&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

:root{
    --background-high:#475569;
    --background-300: #cbd5e1;
    --background-low: #e2e8f0;
    --light-text:#f8fafc;
    --main-text: #020617;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display:grid;
    grid-template-rows: 3fr 25fr 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    color: var(--main-text);
    font-family: 'Poppins', sans-serif;
}

header{
    grid-area: header;
    background-color: #f8fafc;
    padding: 0 20vw 0 20vw; 

    display:flex;
    justify-content: space-between;
    align-items:center;
}

header p{
    font-family: 'Nova Square', sans-serif;
    font-size: 32px;
    
    margin:0;
}

#log-in-btn{
    height: 45px;
    background-color: var(--background-low);
    color: var(--main-text);
    transition: color .3s, background-color .3s;
}

#log-in-btn:hover{
    background-color: var(--background-high);
    color: var(--light-text);
}

main{
    background-color: var(--background-low);

    display:flex;
    justify-content: center;
    padding-top: 5vh;
}

main div{
    display:flex;
    justify-content: center;
}

#add-book-btn{
    background-color: var(--background-low);
    color: var(--main-text);
    font-size: 28px;
    transition: background-color .3s ease-in-out;
}

#add-book-btn:hover{
    background-color: var(--background-300);
}

.container{
    margin: 5vh auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}

.card{
    height: 25vh;
    display:grid;
    grid-template-rows: repeat(4,1fr) ;
    gap:24px;
}



footer{
    background-color: var(--background-low);
    text-align: center;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 32px;
    border-radius: 10px;
}

.form-row,
.form-row-btn,
.form-row-cb{
    margin: 40px auto;
    width: 60%;
    display:grid;
    gap:12px;
    align-items: center;
}

.form-row{
    grid-template-columns: 60px 1fr;
}

.form-row input{
    min-width:0px;
    padding: 6px;
    border-bottom: 2px solid var(--background-high);
    height: 30px;
}
.form-row input:focus{
    outline:none;
}

.form-row label{
    margin-right: 0;
    margin-left: auto;
}

.form-row-cb{
    grid-template-columns: auto 1fr;
    gap: 36px;
    align-items: center;
}

.form-row-cb input{
    width: 20px;
    height: 20px;
}

.form-row-btn button{
    width: 150px;
}